<span class="shadow">
    <div class="menu-logo">
        <a href="#">
        <img src="" alt="TITUL">
        </a>
    </div>
    <div class="menu-background-1">
        <span>Работа с использованием электронной почты</span>
    </div>
    <div class="menu-background-2">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Входящие</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Исходящие</a>
                    </li>
                    </ul>
                    
                    <div class="form-inline pull-right m-r-2 nav-input">
                        <div class="btn-group">
                            <div class="dropdown">
                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                    Поиск по организации
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" >Поиск по номеру</a>
                                    <a class="dropdown-item" >Поиск по дате</a>
                                    <a class="dropdown-item" >Поиск по организации</a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input
                                type="text"
                                class="form-control"
                                placeholder="Введите номер документа"
                            >
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary">
                                <img src="../../assets/quicksearch_magnify.svg" title="Поиск">
                            </button>
                        </div>
                    </div>
                </div>
            </nav>
    </div>
</span>
