<table class="table mr-file-table-1">
  <tbody>
    <tr>
      <td>Проверка ЭП файлов:</td>
      <td>
        <table class="table mr-file-table-2">
          <thead>
            <tr>
              <th style="width: 50%;">Наименование</th>
              <th style="width: 25%;">УКЭП</th>
              <th style="width: 25%;">Другие</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Название файла 1</td>
              <td>+</td>
              <td></td>
            </tr>
            <tr>
              <td>Название файла 2</td>
              <td></td>
              <td>+</td>
            </tr>
            <tr>
              <td>Название файла 3</td>
              <td>+</td>
              <td>+</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>