<div class="row">
  <section class="content-area">
    <div class="table-area">
      <table class="responsive-table table">
        <thead >
          <tr>
            <th style="width: 60%">Содержание</th>
            <th style="width: 10%">Получено</th>
            <th style="width: 10%">Корреспондент</th>
            <th style="width: 10%">Доставка</th>
            <th style="width: 10%">Просмотрел</th>
          </tr>
        </thead>
        <tbody>
          <tr
            class="active-message"
            *ngFor="let m of message; let idx = index"
            [ngStyle]="{backgroundColor: (idx + 1) % 2 === 0 ? '#f8f8f8' : 'transparent'}"
            [ngClass]="{'active-message': m.active}"
            (click)="addChoiseMessage(m.isn)"
          >
            <td style="width: 60%">{{m.content}}</td>
            <td style="width: 10%">{{m.received}}</td>
            <td style="width: 10%">{{m.correspondent}}</td>
            <td style="width: 10%">{{m.delivery}}</td>
            <td style="width: 10%">
              <p *ngFor="let v of m.viewed">
                {{v}}
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>
