<div class="test row">
  <section class="content-area">
    <div class="table-area">
      <table class="responsive-table table">
        <thead>
          <tr>
            <th>Содержание</th>
            <th>Получено</th>
            <th>Корреспондент</th>
            <th>Доставка</th>
            <th>Просмотрел</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam nesciunt at dolores iusto ipsa labore voluptates! Culpa et nemo nostrum facilis ullam blanditiis dolores corporis cum tempora impedit, voluptate magnam, a ad? Aspernatur quo odio voluptatibus, similique voluptate quaerat alias?</td>
            <td>14.04.2018 12:56:17</td>
            <td>Министерство Экономики Республики Беларусь</td>
            <td>E-mail</td>
            <td></td>
          </tr>
          <tr>
            <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam nesciunt at dolores iusto ipsa labore voluptates! Culpa et nemo nostrum facilis ullam blanditiis dolores corporis cum tempora impedit, voluptate magnam, a ad? Aspernatur quo odio voluptatibus, similique voluptate quaerat alias?</td>
            <td>14.04.2018 12:56:17</td>
            <td>Министерство Экономики Республики Беларусь</td>
            <td>E-mail</td>
            <td></td>
          </tr>
          <tr>
            <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam nesciunt at dolores iusto ipsa labore voluptates! Culpa et nemo nostrum facilis ullam blanditiis dolores corporis cum tempora impedit, voluptate magnam, a ad? Aspernatur quo odio voluptatibus, similique voluptate quaerat alias?</td>
            <td>14.04.2018 12:56:17</td>
            <td>Министерство Экономики Республики Беларусь</td>
            <td>E-mail</td>
            <td></td>
          </tr>
          <tr>
            <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam nesciunt at dolores iusto ipsa labore voluptates! Culpa et nemo nostrum facilis ullam blanditiis dolores corporis cum tempora impedit, voluptate magnam, a ad? Aspernatur quo odio voluptatibus, similique voluptate quaerat alias?</td>
            <td>14.04.2018 12:56:17</td>
            <td>Министерство Экономики Республики Беларусь</td>
            <td>E-mail</td>
            <td></td>
          </tr>
          <tr>
            <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam nesciunt at dolores iusto ipsa labore voluptates! Culpa et nemo nostrum facilis ullam blanditiis dolores corporis cum tempora impedit, voluptate magnam, a ad? Aspernatur quo odio voluptatibus, similique voluptate quaerat alias?</td>
            <td>14.04.2018 12:56:17</td>
            <td>Министерство Экономики Республики Беларусь</td>
            <td>E-mail</td>
            <td></td>
          </tr>
          <tr>
            <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam nesciunt at dolores iusto ipsa labore voluptates! Culpa et nemo nostrum facilis ullam blanditiis dolores corporis cum tempora impedit, voluptate magnam, a ad? Aspernatur quo odio voluptatibus, similique voluptate quaerat alias?</td>
            <td>14.04.2018 12:56:17</td>
            <td>Министерство Экономики Республики Беларусь</td>
            <td>E-mail</td>
            <td></td>
          </tr>
          <tr>
            <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam nesciunt at dolores iusto ipsa labore voluptates! Culpa et nemo nostrum facilis ullam blanditiis dolores corporis cum tempora impedit, voluptate magnam, a ad? Aspernatur quo odio voluptatibus, similique voluptate quaerat alias?</td>
            <td>14.04.2018 12:56:17</td>
            <td>Министерство Экономики Республики Беларусь</td>
            <td>E-mail</td>
            <td></td>
          </tr>
          <tr>
            <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam nesciunt at dolores iusto ipsa labore voluptates! Culpa et nemo nostrum facilis ullam blanditiis dolores corporis cum tempora impedit, voluptate magnam, a ad? Aspernatur quo odio voluptatibus, similique voluptate quaerat alias?</td>
            <td>14.04.2018 12:56:17</td>
            <td>Министерство Экономики Республики Беларусь</td>
            <td>E-mail</td>
            <td></td>
          </tr>
          <tr>
            <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam nesciunt at dolores iusto ipsa labore voluptates! Culpa et nemo nostrum facilis ullam blanditiis dolores corporis cum tempora impedit, voluptate magnam, a ad? Aspernatur quo odio voluptatibus, similique voluptate quaerat alias?</td>
            <td>14.04.2018 12:56:17</td>
            <td>Министерство Экономики Республики Беларусь</td>
            <td>E-mail</td>
            <td></td>
          </tr>
          <tr>
            <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam nesciunt at dolores iusto ipsa labore voluptates! Culpa et nemo nostrum facilis ullam blanditiis dolores corporis cum tempora impedit, voluptate magnam, a ad? Aspernatur quo odio voluptatibus, similique voluptate quaerat alias?</td>
            <td>14.04.2018 12:56:17</td>
            <td>Министерство Экономики Республики Беларусь</td>
            <td>E-mail</td>
            <td></td>
          </tr>
          <tr>
            <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam nesciunt at dolores iusto ipsa labore voluptates! Culpa et nemo nostrum facilis ullam blanditiis dolores corporis cum tempora impedit, voluptate magnam, a ad? Aspernatur quo odio voluptatibus, similique voluptate quaerat alias?</td>
            <td>14.04.2018 12:56:17</td>
            <td>Министерство Экономики Республики Беларусь</td>
            <td>E-mail</td>
            <td></td>
          </tr>
          <tr>
            <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam nesciunt at dolores iusto ipsa labore voluptates! Culpa et nemo nostrum facilis ullam blanditiis dolores corporis cum tempora impedit, voluptate magnam, a ad? Aspernatur quo odio voluptatibus, similique voluptate quaerat alias?</td>
            <td>14.04.2018 12:56:17</td>
            <td>Министерство Экономики Республики Беларусь</td>
            <td>E-mail</td>
            <td></td>
          </tr>
          <tr>
            <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam nesciunt at dolores iusto ipsa labore voluptates! Culpa et nemo nostrum facilis ullam blanditiis dolores corporis cum tempora impedit, voluptate magnam, a ad? Aspernatur quo odio voluptatibus, similique voluptate quaerat alias?</td>
            <td>14.04.2018 12:56:17</td>
            <td>Министерство Экономики Республики Беларусь</td>
            <td>E-mail</td>
            <td></td>
          </tr>
          <tr>
            <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam nesciunt at dolores iusto ipsa labore voluptates! Culpa et nemo nostrum facilis ullam blanditiis dolores corporis cum tempora impedit, voluptate magnam, a ad? Aspernatur quo odio voluptatibus, similique voluptate quaerat alias?</td>
            <td>14.04.2018 12:56:17</td>
            <td>Министерство Экономики Республики Беларусь</td>
            <td>E-mail</td>
            <td></td>
          </tr>
          <tr>
            <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam nesciunt at dolores iusto ipsa labore voluptates! Culpa et nemo nostrum facilis ullam blanditiis dolores corporis cum tempora impedit, voluptate magnam, a ad? Aspernatur quo odio voluptatibus, similique voluptate quaerat alias?</td>
            <td>14.04.2018 12:56:17</td>
            <td>Министерство Экономики Республики Беларусь</td>
            <td>E-mail</td>
            <td></td>
          </tr>
          <tr>
            <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam nesciunt at dolores iusto ipsa labore voluptates! Culpa et nemo nostrum facilis ullam blanditiis dolores corporis cum tempora impedit, voluptate magnam, a ad? Aspernatur quo odio voluptatibus, similique voluptate quaerat alias?</td>
            <td>14.04.2018 12:56:17</td>
            <td>Министерство Экономики Республики Беларусь</td>
            <td>E-mail</td>
            <td></td>
          </tr>
          <tr>
            <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam nesciunt at dolores iusto ipsa labore voluptates! Culpa et nemo nostrum facilis ullam blanditiis dolores corporis cum tempora impedit, voluptate magnam, a ad? Aspernatur quo odio voluptatibus, similique voluptate quaerat alias?</td>
            <td>14.04.2018 12:56:17</td>
            <td>Министерство Экономики Республики Беларусь</td>
            <td>E-mail</td>
            <td></td>
          </tr>
          <tr>
            <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam nesciunt at dolores iusto ipsa labore voluptates! Culpa et nemo nostrum facilis ullam blanditiis dolores corporis cum tempora impedit, voluptate magnam, a ad? Aspernatur quo odio voluptatibus, similique voluptate quaerat alias?</td>
            <td>14.04.2018 12:56:17</td>
            <td>Министерство Экономики Республики Беларусь</td>
            <td>E-mail</td>
            <td></td>
          </tr>
          
   
        </tbody>
      </table>
    </div>
  </section>
</div>
