<div class="row active-inactive-header">
  <div class="col-sm-6">
      <ul class="nav">
          <a 
              routerLinkActive="btn-nav-active"
              class="btn-nav"
              [routerLink]="['/system', 'inbox-active']"
              (click)="loadPage()"
          >
              Активные
          </a>
          <a
              routerLinkActive="btn-nav-active"
              class="btn-nav"
              [routerLink]="['/system', 'inbox-inactive']"
              (click)="reverseButton()"
              (click)="loadPage()"

          >
              Неактивные
          </a>
      </ul>
  </div>
  <div 
      class="col-sm-6"
      *ngIf="gButton.choise && page.button_reg"
  >
      <ul class="nav float-right">
          <a class="btn-nav-reg-t" [href]="trustedUrl">Просмотр и регистрация</a>
          <a class="btn-nav-reg-f" href="#">Отказать в регистрации</a>
      </ul>
  </div>
</div>

<div class="row">
  <section class="content-area">
    <div class="table-area">
      <table class="responsive-table table">
        <thead>
          <tr>
            <th
              *ngFor="let c of page.column"
              [ngStyle]="{'width': c.width + '%'}"
            >
              {{c.name}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            class="active-message"
            *ngFor="let m of message; let idx = index"
            [ngStyle]="{backgroundColor: (idx + 1) % 2 === 0 ? '#f8f8f8' : '#fff'}"
            [ngClass]="{'active-message': m.active, 'choise-message': choiseMessage.isn == m.isn}"
            (click)="someClick(m.isn)"
          >
            <td
              [ngStyle]="{'width': c.width+'%'}"
            >
              {{m.content}}
            </td>
            <td
              [ngStyle]="{'width': c.width+'%'}"
            >
              {{m.received}}
            </td>
            <td
              [ngStyle]="{'width': c.width+'%'}"
            >
              {{m.correspondent}}
            </td>
            <td
              [ngStyle]="{'width': c.width+'%'}"
            >
              {{m.delivery}}
            </td>
            <td
              [ngStyle]="{'width': c.width+'%'}"
            >
              <p *ngFor="let v of m.viewed">
                {{v}}
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="navigation">
      
    </div>
  </section>
</div>
