<div class="row mr-page">
  <section class="content-area">
    <div class="table-area">
      <table class="responsive-table table">
        <thead>
          <tr>
            <th
              *ngFor="let c of page.column"
              [ngStyle]="{'width': c.width + '%'}"
            >
              {{c.name}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            class="active-message"
            *ngFor="let m of page.message; let idx = index"
            [ngStyle]="{backgroundColor: (idx + 1) % 2 === 0 ? '#f8f8f8' : '#fff'}"
            [ngClass]="{'active-message': m.active, 'choise-message': choiseMessage.isn == m.isn}"
            (click)="someClick(m.isn)"
          >
            <td
              *ngFor="let c of page.column"
              [ngStyle]="{'width': c.width + '%'}"
            >
              <ng-container
                *ngIf="isArray(m[c.id]); then thenBlock else elseBlock"
              >
              </ng-container>
              <ng-template #thenBlock>
                <p
                  *ngFor="let v of m[c.id]"
                >
                  {{v}}
                </p>
              </ng-template>
              <ng-template #elseBlock>
                {{m[c.id]}}
              </ng-template>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>
