<div class="test row">
  <section class="content-area">
    <div class="table-area">
      <table class="responsive-table table">
        <thead >
          <tr>
            <th style="width: 50%">Содержание</th>
            <th style="width: 10%">Получено</th>
            <th style="width: 10%">Корреспондент</th>
            <th style="width: 10%">Доставка</th>
            <th style="width: 10%">Статус</th>
            <th style="width: 10%">Регистратор</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="width: 50%">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam nesciunt at dolores iusto ipsa labore voluptates! Culpa et nemo nostrum facilis ullam blanditiis dolores corporis cum tempora impedit, voluptate magnam, a ad? Aspernatur quo odio voluptatibus, similique voluptate quaerat alias?</td>
            <td style="width: 10%">14.04.2018 12:56:17</td>
            <td style="width: 10%">Министерство Экономики Республики Беларусь</td>
            <td style="width: 10%">E-mail</td>
            <td style="width: 10%">Вх. 02/322-14 от 12.04.2018</td>
            <td style="width: 10%">
              <p>Сергеева И.М.</p>
            </td>
          </tr>
          <tr>
            <td style="width: 50%">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam nesciunt at dolores iusto ipsa labore voluptates! Culpa et nemo nostrum facilis ullam blanditiis dolores corporis cum tempora impedit, voluptate magnam, a ad? Aspernatur quo odio voluptatibus, similique voluptate quaerat alias?</td>
            <td style="width: 10%">14.04.2018 12:56:17</td>
            <td style="width: 10%">Министерство Экономики Республики Беларусь</td>
            <td style="width: 10%">E-mail</td>
            <td style="width: 10%">Вх. 02/322-14 от 12.04.2018</td>
            <td style="width: 10%">
              <p>Сергеева И.М.</p>
            </td>
          </tr>
          <tr>
            <td style="width: 50%">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam nesciunt at dolores iusto ipsa labore voluptates! Culpa et nemo nostrum facilis ullam blanditiis dolores corporis cum tempora impedit, voluptate magnam, a ad? Aspernatur quo odio voluptatibus, similique voluptate quaerat alias?</td>
            <td style="width: 10%">14.04.2018 12:56:17</td>
            <td style="width: 10%">Министерство Экономики Республики Беларусь</td>
            <td style="width: 10%">E-mail</td>
            <td style="width: 10%">Вх. 02/322-14 от 12.04.2018</td>
            <td style="width: 10%">
              <p>Сергеева И.М.</p>
            </td>
          </tr>
          <tr>
            <td style="width: 50%">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam nesciunt at dolores iusto ipsa labore voluptates! Culpa et nemo nostrum facilis ullam blanditiis dolores corporis cum tempora impedit, voluptate magnam, a ad? Aspernatur quo odio voluptatibus, similique voluptate quaerat alias?</td>
            <td style="width: 10%">14.04.2018 12:56:17</td>
            <td style="width: 10%">Министерство Экономики Республики Беларусь</td>
            <td style="width: 10%">E-mail</td>
            <td style="width: 10%">Вх. 02/322-14 от 12.04.2018</td>
            <td style="width: 10%">
              <p>Сергеева И.М.</p>
            </td>
          </tr>
          <tr>
            <td style="width: 50%">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam nesciunt at dolores iusto ipsa labore voluptates! Culpa et nemo nostrum facilis ullam blanditiis dolores corporis cum tempora impedit, voluptate magnam, a ad? Aspernatur quo odio voluptatibus, similique voluptate quaerat alias?</td>
            <td style="width: 10%">14.04.2018 12:56:17</td>
            <td style="width: 10%">Министерство Экономики Республики Беларусь</td>
            <td style="width: 10%">E-mail</td>
            <td style="width: 10%">Вх. 02/322-14 от 12.04.2018</td>
            <td style="width: 10%">
              <p>Сергеева И.М.</p>
            </td>
          </tr>
          <tr>
            <td style="width: 50%">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam nesciunt at dolores iusto ipsa labore voluptates! Culpa et nemo nostrum facilis ullam blanditiis dolores corporis cum tempora impedit, voluptate magnam, a ad? Aspernatur quo odio voluptatibus, similique voluptate quaerat alias?</td>
            <td style="width: 10%">14.04.2018 12:56:17</td>
            <td style="width: 10%">Министерство Экономики Республики Беларусь</td>
            <td style="width: 10%">E-mail</td>
            <td style="width: 10%">Вх. 02/322-14 от 12.04.2018</td>
            <td style="width: 10%">
              <p>Сергеева И.М.</p>
            </td>
          </tr>
          <tr>
            <td style="width: 50%">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam nesciunt at dolores iusto ipsa labore voluptates! Culpa et nemo nostrum facilis ullam blanditiis dolores corporis cum tempora impedit, voluptate magnam, a ad? Aspernatur quo odio voluptatibus, similique voluptate quaerat alias?</td>
            <td style="width: 10%">14.04.2018 12:56:17</td>
            <td style="width: 10%">Министерство Экономики Республики Беларусь</td>
            <td style="width: 10%">E-mail</td>
            <td style="width: 10%">Вх. 02/322-14 от 12.04.2018</td>
            <td style="width: 10%">
              <p>Сергеева И.М.</p>
            </td>
          </tr>
          <tr>
            <td style="width: 50%">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam nesciunt at dolores iusto ipsa labore voluptates! Culpa et nemo nostrum facilis ullam blanditiis dolores corporis cum tempora impedit, voluptate magnam, a ad? Aspernatur quo odio voluptatibus, similique voluptate quaerat alias?</td>
            <td style="width: 10%">14.04.2018 12:56:17</td>
            <td style="width: 10%">Министерство Экономики Республики Беларусь</td>
            <td style="width: 10%">E-mail</td>
            <td style="width: 10%">Вх. 02/322-14 от 12.04.2018</td>
            <td style="width: 10%">
              <p>Сергеева И.М.</p>
            </td>
          </tr>
          <tr>
            <td style="width: 50%">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam nesciunt at dolores iusto ipsa labore voluptates! Culpa et nemo nostrum facilis ullam blanditiis dolores corporis cum tempora impedit, voluptate magnam, a ad? Aspernatur quo odio voluptatibus, similique voluptate quaerat alias?</td>
            <td style="width: 10%">14.04.2018 12:56:17</td>
            <td style="width: 10%">Министерство Экономики Республики Беларусь</td>
            <td style="width: 10%">E-mail</td>
            <td style="width: 10%">Вх. 02/322-14 от 12.04.2018</td>
            <td style="width: 10%">
              <p>Сергеева И.М.</p>
            </td>
          </tr>
          <tr>
            <td style="width: 50%">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam nesciunt at dolores iusto ipsa labore voluptates! Culpa et nemo nostrum facilis ullam blanditiis dolores corporis cum tempora impedit, voluptate magnam, a ad? Aspernatur quo odio voluptatibus, similique voluptate quaerat alias?</td>
            <td style="width: 10%">14.04.2018 12:56:17</td>
            <td style="width: 10%">Министерство Экономики Республики Беларусь</td>
            <td style="width: 10%">E-mail</td>
            <td style="width: 10%">Вх. 02/322-14 от 12.04.2018</td>
            <td style="width: 10%">
              <p>Сергеева И.М.</p>
            </td>
          </tr>
          <tr>
            <td style="width: 50%">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam nesciunt at dolores iusto ipsa labore voluptates! Culpa et nemo nostrum facilis ullam blanditiis dolores corporis cum tempora impedit, voluptate magnam, a ad? Aspernatur quo odio voluptatibus, similique voluptate quaerat alias?</td>
            <td style="width: 10%">14.04.2018 12:56:17</td>
            <td style="width: 10%">Министерство Экономики Республики Беларусь</td>
            <td style="width: 10%">E-mail</td>
            <td style="width: 10%">Вх. 02/322-14 от 12.04.2018</td>
            <td style="width: 10%">
              <p>Сергеева И.М.</p>
            </td>
          </tr>
          <tr>
            <td style="width: 50%">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam nesciunt at dolores iusto ipsa labore voluptates! Culpa et nemo nostrum facilis ullam blanditiis dolores corporis cum tempora impedit, voluptate magnam, a ad? Aspernatur quo odio voluptatibus, similique voluptate quaerat alias?</td>
            <td style="width: 10%">14.04.2018 12:56:17</td>
            <td style="width: 10%">Министерство Экономики Республики Беларусь</td>
            <td style="width: 10%">E-mail</td>
            <td style="width: 10%">Вх. 02/322-14 от 12.04.2018</td>
            <td style="width: 10%">
              <p>Сергеева И.М.</p>
            </td>
          </tr>
          <tr>
            <td style="width: 50%">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam nesciunt at dolores iusto ipsa labore voluptates! Culpa et nemo nostrum facilis ullam blanditiis dolores corporis cum tempora impedit, voluptate magnam, a ad? Aspernatur quo odio voluptatibus, similique voluptate quaerat alias?</td>
            <td style="width: 10%">14.04.2018 12:56:17</td>
            <td style="width: 10%">Министерство Экономики Республики Беларусь</td>
            <td style="width: 10%">E-mail</td>
            <td style="width: 10%">Вх. 02/322-14 от 12.04.2018</td>
            <td style="width: 10%">
              <p>Сергеева И.М.</p>
            </td>
          </tr>
          <tr>
            <td style="width: 50%">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam nesciunt at dolores iusto ipsa labore voluptates! Culpa et nemo nostrum facilis ullam blanditiis dolores corporis cum tempora impedit, voluptate magnam, a ad? Aspernatur quo odio voluptatibus, similique voluptate quaerat alias?</td>
            <td style="width: 10%">14.04.2018 12:56:17</td>
            <td style="width: 10%">Министерство Экономики Республики Беларусь</td>
            <td style="width: 10%">E-mail</td>
            <td style="width: 10%">Вх. 02/322-14 от 12.04.2018</td>
            <td style="width: 10%">
              <p>Сергеева И.М.</p>
            </td>
          </tr>
          <tr>
            <td style="width: 50%">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam nesciunt at dolores iusto ipsa labore voluptates! Culpa et nemo nostrum facilis ullam blanditiis dolores corporis cum tempora impedit, voluptate magnam, a ad? Aspernatur quo odio voluptatibus, similique voluptate quaerat alias?</td>
            <td style="width: 10%">14.04.2018 12:56:17</td>
            <td style="width: 10%">Министерство Экономики Республики Беларусь</td>
            <td style="width: 10%">E-mail</td>
            <td style="width: 10%">Вх. 02/322-14 от 12.04.2018</td>
            <td style="width: 10%">
              <p>Сергеева И.М.</p>
            </td>
          </tr>
          <tr>
            <td style="width: 50%">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam nesciunt at dolores iusto ipsa labore voluptates! Culpa et nemo nostrum facilis ullam blanditiis dolores corporis cum tempora impedit, voluptate magnam, a ad? Aspernatur quo odio voluptatibus, similique voluptate quaerat alias?</td>
            <td style="width: 10%">14.04.2018 12:56:17</td>
            <td style="width: 10%">Министерство Экономики Республики Беларусь</td>
            <td style="width: 10%">E-mail</td>
            <td style="width: 10%">Вх. 02/322-14 от 12.04.2018</td>
            <td style="width: 10%">
              <p>Сергеева И.М.</p>
            </td>
          </tr>
          <tr>
            <td style="width: 50%">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam nesciunt at dolores iusto ipsa labore voluptates! Culpa et nemo nostrum facilis ullam blanditiis dolores corporis cum tempora impedit, voluptate magnam, a ad? Aspernatur quo odio voluptatibus, similique voluptate quaerat alias?</td>
            <td style="width: 10%">14.04.2018 12:56:17</td>
            <td style="width: 10%">Министерство Экономики Республики Беларусь</td>
            <td style="width: 10%">E-mail</td>
            <td style="width: 10%">Вх. 02/322-14 от 12.04.2018</td>
            <td style="width: 10%">
              <p>Сергеева И.М.</p>
            </td>
          </tr>
          <tr>
            <td style="width: 50%">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam nesciunt at dolores iusto ipsa labore voluptates! Culpa et nemo nostrum facilis ullam blanditiis dolores corporis cum tempora impedit, voluptate magnam, a ad? Aspernatur quo odio voluptatibus, similique voluptate quaerat alias?</td>
            <td style="width: 10%">14.04.2018 12:56:17</td>
            <td style="width: 10%">Министерство Экономики Республики Беларусь</td>
            <td style="width: 10%">E-mail</td>
            <td style="width: 10%">Вх. 02/322-14 от 12.04.2018</td>
            <td style="width: 10%">
              <p>Сергеева И.М.</p>
            </td>
          </tr>
          <tr>
            <td style="width: 50%">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam nesciunt at dolores iusto ipsa labore voluptates! Culpa et nemo nostrum facilis ullam blanditiis dolores corporis cum tempora impedit, voluptate magnam, a ad? Aspernatur quo odio voluptatibus, similique voluptate quaerat alias?</td>
            <td style="width: 10%">14.04.2018 12:56:17</td>
            <td style="width: 10%">Министерство Экономики Республики Беларусь</td>
            <td style="width: 10%">E-mail</td>
            <td style="width: 10%">Вх. 02/322-14 от 12.04.2018</td>
            <td style="width: 10%">
              <p>Сергеева И.М.</p>
            </td>
          </tr>
          <tr>
            <td style="width: 50%">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam nesciunt at dolores iusto ipsa labore voluptates! Culpa et nemo nostrum facilis ullam blanditiis dolores corporis cum tempora impedit, voluptate magnam, a ad? Aspernatur quo odio voluptatibus, similique voluptate quaerat alias?</td>
            <td style="width: 10%">14.04.2018 12:56:17</td>
            <td style="width: 10%">Министерство Экономики Республики Беларусь</td>
            <td style="width: 10%">E-mail</td>
            <td style="width: 10%">Вх. 02/322-14 от 12.04.2018</td>
            <td style="width: 10%">
              <p>Сергеева И.М.</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>
