<div class="mr-pagination row">
    <nav class="nav">
        <a
            routerLinkActive="nav-active"
            class="nav-link"
            [routerLink]="['/system', 'outbox']"
        >
            1
        </a>
        <a
            routerLinkActive="nav-active"
            class="nav-link"
            [routerLink]="['/system', 'outbox']"
        >
            >
        </a>
        <a
            routerLinkActive="nav-active"
            class="nav-link mr-pagination-active"
            [routerLink]="['/system', 'outbox']"
        >
            3
        </a>
    </nav>
</div>
