<div class="header-fixed">
    <div class="menu-logo">
        <a href="#">
            <img src="" alt="TITUL">
        </a>
    </div>
    <div class="menu-background-1">
        <span>Работа с использованием электронной почты</span>
    </div>
    <div class="menu-background-2">
        <nav class="nav">
            <a routerLinkActive="nav-active" class="nav-link" [routerLink]="['/system', 'inbox']">Входящие</a>
            <a routerLinkActive="nav-active" class="nav-link" [routerLink]="['/system', 'outbox']">Исходящие</a>
        </nav>
        <div class="form-inline pull-right nav-input">
            <div class="btn-group">
                <div class="dropdown">
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                        Поиск по организации
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" >Поиск по номеру</a>
                        <a class="dropdown-item" >Поиск по дате</a>
                        <a class="dropdown-item" >Поиск по организации</a>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input
                    type="text"
                    class="form-control"
                    placeholder="Введите номер документа"
                >
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-primary">
                    <img src="../../assets/quicksearch_magnify.svg" title="Поиск">
                </button>
            </div>
        </div>
    </div>
</div>