<div class="test row">
  <section class="content-area">
    <div class="table-area">
      <table class="responsive-table table">
        <thead >
          <tr>
            <th style="width: 8%">№ Документа</th>
            <th style="width: 9%">Дата регистрации</th>
            <th style="width: 28%">Содержание</th>
            <th style="width: 8%">Дата отправки</th>
            <th style="width: 10%">Адресаты</th>
            <th style="width: 4%">Доставка</th>
            <th style="width: 10%">Состояния отправки</th>
            <th style="width: 3%">Кат.1</th>
            <th style="width: 3%">Кат.2</th>
            <th style="width: 3%">Кат.3</th>
            <th style="width: 3%">Кат.4</th>
            <th style="width: 3%">Кат.5</th>
            <th style="width: 8%">Регистратор</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="width: 8%">Исх. 02/245-5</td>
            <td style="width: 9%">14.04.2018 12:56:17</td>
            <td style="width: 28%">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem, labore maxime ea debitis magnam fugit facere illo error similique, in excepturi autem, ratione suscipit? Ab debitis provident id soluta quam!</td>
            <td style="width: 8%">14.04.2018 12:56:17</td>
            <td style="width: 10%">Министерство связи</td>
            <td style="width: 4%">E-mail</td>
            <td style="width: 10%">В очереди на отправку</td>
            <td style="width: 3%">+</td>
            <td style="width: 3%">+</td>
            <td style="width: 3%"></td>
            <td style="width: 3%"></td>
            <td style="width: 3%">+</td>
            <td style="width: 8%">Сергеева И.М.</td>
          </tr>
          <tr>
            <td style="width: 8%">Исх. 02/245-5</td>
            <td style="width: 9%">14.04.2018 12:56:17</td>
            <td style="width: 28%">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem, labore maxime ea debitis magnam fugit facere illo error similique, in excepturi autem, ratione suscipit? Ab debitis provident id soluta quam!</td>
            <td style="width: 8%">14.04.2018 12:56:17</td>
            <td style="width: 10%">Министерство связи</td>
            <td style="width: 4%">E-mail</td>
            <td style="width: 10%">В очереди на отправку</td>
            <td style="width: 3%">+</td>
            <td style="width: 3%">+</td>
            <td style="width: 3%"></td>
            <td style="width: 3%"></td>
            <td style="width: 3%">+</td>
            <td style="width: 8%">Сергеева И.М.</td>
          </tr>
          <tr>
            <td style="width: 8%">Исх. 02/245-5</td>
            <td style="width: 9%">14.04.2018 12:56:17</td>
            <td style="width: 28%">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem, labore maxime ea debitis magnam fugit facere illo error similique, in excepturi autem, ratione suscipit? Ab debitis provident id soluta quam!</td>
            <td style="width: 8%">14.04.2018 12:56:17</td>
            <td style="width: 10%">Министерство связи</td>
            <td style="width: 4%">E-mail</td>
            <td style="width: 10%">В очереди на отправку</td>
            <td style="width: 3%">+</td>
            <td style="width: 3%">+</td>
            <td style="width: 3%"></td>
            <td style="width: 3%"></td>
            <td style="width: 3%">+</td>
            <td style="width: 8%">Сергеева И.М.</td>
          </tr>
          <tr>
            <td style="width: 8%">Исх. 02/245-5</td>
            <td style="width: 9%">14.04.2018 12:56:17</td>
            <td style="width: 28%">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem, labore maxime ea debitis magnam fugit facere illo error similique, in excepturi autem, ratione suscipit? Ab debitis provident id soluta quam!</td>
            <td style="width: 8%">14.04.2018 12:56:17</td>
            <td style="width: 10%">Министерство связи</td>
            <td style="width: 4%">E-mail</td>
            <td style="width: 10%">В очереди на отправку</td>
            <td style="width: 3%">+</td>
            <td style="width: 3%">+</td>
            <td style="width: 3%"></td>
            <td style="width: 3%"></td>
            <td style="width: 3%">+</td>
            <td style="width: 8%">Сергеева И.М.</td>
          </tr>
          <tr>
            <td style="width: 8%">Исх. 02/245-5</td>
            <td style="width: 9%">14.04.2018 12:56:17</td>
            <td style="width: 28%">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem, labore maxime ea debitis magnam fugit facere illo error similique, in excepturi autem, ratione suscipit? Ab debitis provident id soluta quam!</td>
            <td style="width: 8%">14.04.2018 12:56:17</td>
            <td style="width: 10%">Министерство связи</td>
            <td style="width: 4%">E-mail</td>
            <td style="width: 10%">В очереди на отправку</td>
            <td style="width: 3%">+</td>
            <td style="width: 3%">+</td>
            <td style="width: 3%"></td>
            <td style="width: 3%"></td>
            <td style="width: 3%">+</td>
            <td style="width: 8%">Сергеева И.М.</td>
          </tr>
          <tr>
            <td style="width: 8%">Исх. 02/245-5</td>
            <td style="width: 9%">14.04.2018 12:56:17</td>
            <td style="width: 28%">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem, labore maxime ea debitis magnam fugit facere illo error similique, in excepturi autem, ratione suscipit? Ab debitis provident id soluta quam!</td>
            <td style="width: 8%">14.04.2018 12:56:17</td>
            <td style="width: 10%">Министерство связи</td>
            <td style="width: 4%">E-mail</td>
            <td style="width: 10%">В очереди на отправку</td>
            <td style="width: 3%">+</td>
            <td style="width: 3%">+</td>
            <td style="width: 3%"></td>
            <td style="width: 3%"></td>
            <td style="width: 3%">+</td>
            <td style="width: 8%">Сергеева И.М.</td>
          </tr>
          
        </tbody>
      </table>
    </div>
  </section>
</div>
